  .jqmarquee_column {
	width: 8px;
	display: inline-block;
	margin-right: 1px;
} .jqmarquee_pixel {
	height: 8px;
	background: #008286/*cadetblue*/;
	margin-bottom: 1px;
	opacity: 0.08;
	cursor: pointer;
} .jqmarquee_pixel-enabled {
	opacity: 1;
	transition: opacity ease 0.1s;
}
